<div class=post-content>
  <h2><%= @post.title %></h2>
  Content: <%= @post.content %><br>
  <% @post.categories.each do |category| %>
    Category: <%= category.name %>
  <% end %>
  <%= @post.comments.each do |comment| %>
    Comments: <%= comment.content %>
  <% end %>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user %>
  <% end %>
</div>

<%= form_for @post.comments.build do |f| %>
  <%= f.label "Content:" %>
  <%= f.text_field :content %>
  <br>
  <%= f.label "Select a User:" %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: 'Select a User' %>
  <%= f.hidden_field :post_id %>
  <br>
  <%= f.label "New User:" %>
  <%= f.fields_for :user, @post.comments.last.build do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= f.submit %>
<% end %>