<div class=post-content>
  <h2><%= @post.title %></h2>
  Content: <%= @post.content %><br>
  <% @post.categories.each do |category| %>
    Category: <%= category.name %>
  <% end %>
  <%= @post.comments.each do |comment| %>
    Comments: <%= comment.content %>
  <% end %>
  <% @post.comments.each do |comment| %>
    <li>
      <%= link_to comment.user_id.username, user_path(comment.user) %>
      <%= doctor.patients.count %>
    </li>
  <% end %>
</div>