<div class=post-content>
  <h2><%= @post.title %></h2>
  Content: <%= @post.content %><br>
  <% @post.categories.each do |category| %>
    Category: <%= category.name %>
  <% end %>
  <%= @post.comments.each do |comment| %>
    Comments: <%= comment.content %>
  <% end %>
  <% @post.users.uniq.each do |user| %>
    <%= link_to user.username, user %>
  <% end %>
</div>

<%= form_for @post.comments.build do |f| %>
  <%= f.label "Content" %>
  <%= f.text_area :content %>
  <%= f.collection_check_boxes :user_id, User.all, :id, :username, include_blank: 'Select a User' %>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %>
  <%= f.submit %>
<% end %>